<!DOCTYPE html>
<html>
<head>
    <title>Student Dashboard</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body class="bg-light">

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Alumni Connect</a>

        <div class="d-flex">
            {% if session.get('role') == 'student' %}
                <a href="/student_dashboard" class="btn btn-outline-light me-2">Dashboard</a>
                <a href="/sessions" class="btn btn-outline-light me-2">Sessions</a>
            {% elif session.get('role') == 'alumni' %}
                <a href="/alumni_dashboard" class="btn btn-outline-light me-2">Dashboard</a>
                <a href="/sessions" class="btn btn-outline-light me-2">Sessions</a>
            {% endif %}

            <a href="/logout" class="btn btn-danger">Logout</a>
        </div>
    </div>
</nav>

<div class="container mt-4">
    <h3 class="fw-bold">
        {{ page_title }}
    </h3>
    <hr>
</div>

{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    {% for category, message in messages %}
      <div class="alert alert-{{ category }} alert-dismissible fade show mt-3" role="alert">
        {{ message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
      </div>
    {% endfor %}
  {% endif %}
{% endwith %}

<script>
setTimeout(() => {
  let alerts = document.querySelectorAll('.alert');
  alerts.forEach(alert => alert.remove());
}, 3000);
</script>

<div class="container mt-5">
    <h2 class="text-center mb-4">Alumni List</h2>

    <form method="GET" class="mb-3">
    <input type="text" name="skill" value="{{ request.args.get('skill', '') }}" placeholder="Search by skill" class="form-control">
    <button class="btn btn-primary mt-2">Search</button>
    <a href="/student_dashboard" class="btn btn-secondary mt-2">Clear</a>
    </form>

    <table class="table table-bordered table-striped">
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Skills</th>
            <th>Action</th>
        </tr>

        {% for alumni in alumni_list %}
        <tr>
            <td>{{ alumni[1] }}</td>
            <td>{{ alumni[2] }}</td>
            <td>{{ alumni[3] if alumni[3] else "No skills added" }}</td>
            <td>
                <form method="POST" action="/send_request">
                    <input type="hidden" name="alumni_id" value="{{ alumni[0] }}">
                    <button class="btn btn-primary">Send Request</button>
                </form>
            </td>
        </tr>
        {% endfor %}
    </table>

    <a href="/logout" class="btn btn-danger">Logout</a>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>